*{padding: 0px; margin: 0px; font-family: 微软雅黑;}
li{list-style: none;}

body{background-image: url("../Images/backimage.jpg");background-repeat: no-repeat; background-size: 100% 100%;}

.myinfo{ width: 280px; height: 75px;margin-left: 150px; margin-top: 10px;}
.myinfotop{width: 280px; height:45px;}
.myinfotopL{width:40px; height: 40px; float:left;background-image: url("../Images/head/mypic.jpg"); border: 3px solid #fff;box-shadow:3px 3px 6px #111;}
.myinfotopR{width:220px; height: 45px; float:right;}
.myinfobottom{width: 240px; height:15px; margin-top: 10px; margin-left: 20px; background-image: url("../Images/icons_list.png"); background-repeat: no-repeat;}
.namespan{ font-size:15px;text-shadow: 2px 2px 6px #fff;}
.shuoshuospan{ font-size:12px;text-shadow:  2px 2px 6px #fff; }
.myinfobottom li{ width: 16px;height: 15px; float: left;display: block; margin-right:4.5px;cursor: pointer;}




.qqdiv{width: 280px; height:auto;min-height: 600px; margin-left: 150px;cursor: pointer; float: left;}
.friendbody{width: 280px; height: 350px; overflow-y: scroll; overflow:auto;background: linear-gradient(#fff,#f1f1f1);}
.BBottom{width: 280px; height:392;cursor: pointer;background: linear-gradient(#fff,#f1f1f1);}
#qqtitle{width: 280px; height: 45px;border-top-left-radius:7px;border-top-right-radius:7px; background:linear-gradient(#555,#222);color: #fff; font-size: 20px; text-align: center;line-height:45px; }
#qqthreePartli2{border-right:  1px solid #d8d8d8; border-left:1px solid #d8d8d8;}
.friendLi{background: linear-gradient(#fff,#f1f1f1);width:263px; height:60px;background-color: #fff;border-top: 1px solid #e3e3e3; display: block;}
.friendLiL{ width: 40px; height: 40px;margin: 8px; float: left;}
.friendLiR{ width:200px; height:50px; float: right;}
.webname{ width: 200px;  font-size: 100%; padding-top:6px;padding-bottom: 4px;}
.friendLiR span{font-size: 12px; color: #aaa;}
.fenzu{height: 40px;background: linear-gradient(#fff,#f1f1f1); line-height: 40px;}
.fenzuIn{height: 40px; width: 93px; float: left; text-align: center; border-bottom: 2px solid #ccc;}
.fenzudetail{border-bottom:2px solid #0aa7ff;color:#0aa7ff;}


.qqbottomli{width: 68px; height:50px; border-right: 1px solid #222;border-left: 1px solid #555;background:linear-gradient(#555,#222);float: left;}
.qqbottom{width: 280px; height:50px; text-align: center;}
.qqbottomlipic{width:30px; height: 30px;background-size:100% 100%; margin-left:20px;}
#qqbottomli1{ border-bottom-left-radius: 7px;}
#qqbottomli4{ border-bottom-right-radius: 7px;}
#qqbottomli1pic{ background-image: url("../Images/b2.png"); }
#qqbottomli2pic{ background-image: url("../Images/a2.png"); }
#qqbottomli3pic{ background-image: url("../Images/c2.png"); }
#qqbottomli4pic{ background-image: url("../Images/d2.png"); }
.qqbottomspan{color: #ccc; font-size: 12px;}
.qqbottomclick{box-shadow: inset 0 0 10px #111;background: #333;}

.friendlistkind{width: 233px; height: 40px;background: linear-gradient(#fff,#f1f1f1);padding-left: 10px; padding-right: 20px; }
.friendlistkindL{width:15px; height:15px; background-image: url("backImages/1.png"); background-size: 15px 15px;float: left; margin-top: 10px;}
.friendlistkindR{height:35px;background-size: 15px 15px; float:left; line-height:35px; float: left;}
.onlinenumber{ font-size: 12px; color: #aaa; display: block;float:right; margin-top:10px;}
.friendlist{display:none;transition:all 0.3s;}
#friendlist1{display: block;}

.qqwindow{ width: 700px; height:auto; position: absolute;top: 100px;}
.windowtop{ padding-top:5px;height: 40px; background:linear-gradient(#555,#222);border-top-left-radius: 7px;border-top-right-radius: 7px; padding-left: 15px;padding-right: 15px;}
.windowbody{width: 699px;height:400px; background-color:#cde0ef; overflow-y:scroll;overflow-x:auto; border-left:1px solid #fff;}
.windowbottom{ height:42px;background:linear-gradient(#555,#222);border-bottom-left-radius: 7px;padding-top: 7px; border-bottom-right-radius: 7px; padding-left: 10px; padding-right: 10px;}
.windowbottomtext{ border: 0px; height: 32px; width: 570px;background-color: #fff; border-radius: 5px; float: left;}
.windowbiaoqing{ width: 32px; height:32px; float:left; background-image: url("backImages/2.png"); background-size: 100% 100%;margin-right:15px;}
.windowbottombtn{cursor: pointer;  width: 50px; height: 32px; border-radius: 4px; background:-webkit-linear-gradient(top,#5f9cc5,#396b9e); float: right;font-size: 14px; color: #fff; line-height: 30px; text-align: center;text-shadow: 0 1px 1px #194b7e;}
.windowtopname{ width: 450px;height: 30px; line-height:30px; text-align: center; color: #fff; font-size: 17px; float: left;}
.windowLbtn{ width: 40px; height: 30px;  border: 1px solid ;border-color: #2c2727 #2c2727 #1a1919; float: left; border-radius: 5px; padding-left: 25px;}
.windowLbtnpic{ height: 15px; width: 15px; display: block; background-image: url("backImages/3.png"); background-size: 100% 100%; margin-top: 7px;}
.windowclosebtn{ width: 60px; height: 30px;  border: 1px solid ;border-color: #2c2727 #2c2727 #1a1919; float: right; border-radius: 5px; float: right; color: #fff;text-align: center;line-height:30px; cursor: pointer;}
.zuixiaohua{margin-right: 10px;}
.GotmessageAll{width: 600px;height: 70px;padding: 10px; float: right; margin-top: 20px;}
.GotmessageAllL{width: 550px;height: 70px;float: left;}
.gotmessage{width: auto; height: 20px;margin-top: 5px; background-color: #fff;border-radius: 5px; box-shadow: 3px 3px 10px #000; padding: 10px; float: right;}
.sentname{ float: right; font-size: 14px; height: 20px; width: 600px; text-align: right; text-shadow: 1px 1px 1px #fff;}
.GotmessageAllR{width: 40px;height: 40px; float: right; background-image:url("../Images/head/mypic.jpg");}



#taolunzu{display: none;}
#qunzu{display: none;}

/*#huihua{display: none;}*/
/*#lianxiren{display: none;}*/
/*#faxian{display: none;}
#shezhi{display: none;}*/
.BBottom{ display: none;}
#BBottom2{display: block;}
.BBottomLI{background: linear-gradient(#fff,#f1f1f1);width:263px; height:60px;background-color: #fff;border-top: 1px solid #e3e3e3; display: block;}

.bodyA{ width:1300px; height: 650px; float: left; position: relative;}
.bodyAR{ width:850px; height:600px; position: absolute;top: 10px;left:440px;/* background-color: #ccc;*/}
.minimenu{width: 850px; height: 25px;}
.miniwin{ width: 80px; height: 25px;  border-radius: 3px; box-shadow: 2px 2px 5px #fff;margin-right: 10px; float: left;font-size:13px; text-align: center;line-height: 25px;color:000; cursor: pointer;text-shadow:2px 2px 2px #fff;}