*{margin: 0px; padding: 0px; text-decoration: none; font-family: 微软雅黑;}
li{list-style: none;}

.top{width:100%;height:75px; background-color: #ccc; position: fixed;background-image: url("../Images/3.jpg");background-size: 100% 85px;padding-top: 10px;border-bottom: 2px solid #0F6099; z-index: 200;}
.logo{width: 136px; height: 37px;background-image: url("../Images/1.png"); background-position: -208px 0px; float: left;margin-right:60px;margin-left: 10px;}
.topLi{width:470px;height: 26px;float: left;}
.usernameA{width: 160px; height: 17px;display: block;color: #fdfdfd;line-height: 18px;text-shadow: 0 1px 1px RGBA(0,0,0,.2);font-weight: 700;font-family:微软雅黑;font-size: 12px;float: left;padding-top: 3px;}
.usernameAL{width: 140px;height: 17px; display: block;float: left;}
.usernameAR{width: 20px;height: 17px; display: block;float: left;background-image:url("../Images/1.png");background-position:0px -217px;}
.phonepicA{width:24px; height:24px;display: block;float: left;background-image:url("../Images/1.png");background-position: -26px -221px;border-radius:12px; margin-top:2px;}
.phonepicA:hover{background-color: #0F6099;}
.topLiA{font-size: 12px;color: #fff;line-height:14px;margin-right: 10px;float: left;margin-top:5px;}
.topLispan{font-size: 12px;color: #d1d1d1;line-height:14px;margin-right: 10px;float: left;margin-top:5px; }
.yixinA{width: 53px; height:20px;text-align: center;line-height:20px;font-size: 12px;display: block;float: left;margin-right:10px;color:blue; background-color: #fff;border-radius:10px;margin-top: 3px;}
.sousuo{width: 238px; height: 22px;background-color:#a2c5e2; float: right;border-radius: 14px;padding-top: 5px;padding-left:6px;margin-right: 15px;}
.sousuo:hover{background-color:#b1cee6}
.sousuop1{width:18px; height:18px; float: left;background-image:url("../Images/1.png");background-position: -94px -255px;}
.sousuop2{width:200px; height:18px; float: left;border: none; font-size: 12px; color: #6B89A1; background-color: transparent; outline: none;}
.topmenu{width:640px;height: 32px;margin-top:42px; margin-left:10px;}
.topmenuLi{width: 120px; height: 32px;float: left;display: block;text-align: center;line-height: 32px;color: #333; font-size: 13px; border-right: 1px solid #f8fafc;border-top: 1px solid #f8fafc; cursor: pointer; background-color:#dceaf4;}
.topmenuLi:hover{background-color:#e6f0f7;}
#shouye{ border-left:1px solid #f8fafc;border-top-left-radius:4px;}
#shezhi{ border-top-right-radius:4px;}
.thelast{background-image:url("../Images/1.png");background-position: 12px -243px;width:30px;height: 30px; margin-top: 2px;float: left;display: block;text-align: center;line-height: 32px;color: #333; font-size: 13px; border-right: 1px solid #f8fafc;border-top: 1px solid #f8fafc; cursor: pointer; background-color:#dceaf4;border-top-right-radius:4px;}
.thelast:hover{background-color:#e6f0f7;}

.mainbody{width: 100%;height:auto; min-height: 500px;padding-top: 86px;}
.mainbodyL{width: 200px;height:auto; min-height: 500px;background-color:#f3f8fc;cursor: pointer; float: left; position: fixed; border-right: 1px solid #c3ced5; }
.mainBoLtitle{width:200px;height:38px;background-color:#D8E6F1;background-image:url("../Images/1.png");}
.mainBoLtitlebtn1{width:99px;height:37px;background-image:url("../Images/1.png");float: left; cursor: pointer;}
.mainBoLtitlebtn1:hover{background-position:0px -47px;}
.mainBoLtitlebtn2{width:99px;height:37px;background-image:url("../Images/1.png");float: right; cursor: pointer;}
.mainBoLtitlebtn2:hover{background-position:0px -47px;}
.mainBoLtibtnspan1{width: 20px; height: 20px;display: block;margin:7px;margin-left: 20px;background-image:url("../Images/1.png");background-position: 0px -188px; float: left;}
.mainBoLtibtnspan2{width: 20px; height: 20px;display: block;margin:7px;margin-left: 20px;background-image:url("../Images/1.png");background-position: -62px -188px;float: left;}
.mainBoLtitlebtntex{width:34px; height: 20px;display: block; float: left;margin-top: 11px; text-shadow:#fff 0 1px 0; color: #3c6692;font-weight: bold; font-size: 15px;}
.mainBoLul{width:200px; height:400px;}
.mainBoLLi{width:170px; height:26px; display: block; font-size:12px; padding-left:30px; line-height: 25px;color: #222;}
.shoujianLi{margin-top:8px;}
.mainBoLLispan{width:12px; height:12px; display: block;float:left;margin-right: 5px;}
.mainBoLLitext{width:150px; height: 20px; display: block; float: left;}
.hongqi{background-image: url("../Images/redflag.png"); background-size: 100% 100%; margin-top:5px;}
.clock{background-image: url("../Images/clock.png"); background-size: 100% 100%; margin-top:5px;}
.man{background-image: url("../Images/man.png"); background-size: 100% 100%; margin-top:5px;}
.elsejian{background-image: url("../Images/1.png"); background-position: -62px -252px;margin-top:5px;transition: all 0.5s;}
.elseLi{ width:180px; height: 100px; padding-left:10px;display: none;}
.mainBoLLi:hover{background-color:#dce7f0;}

.mainbodyR{width:84%;height: auto; min-height:600px; float:left;padding-left:210px;}
.mainbodyRtop{ width:1125px; height:40px; border-bottom: 1px solid #c3ced5; padding-top: 10px; }
.righttopbtn1{ position: relative; width:36px; height: 20px;border-radius:3px;padding-top:6px; padding-left: 10px;background-image:url("../Images/btnback.png");border: 1px solid #999; cursor: pointer; float:left; margin-right: 5px;}
.righttopbtn1ul{ display: none; padding-top: 10px; width: 110px; height: 106px; border: 1px solid #ccc; border-radius: 3px; position: absolute;top: 27px; left: -2px; background-color: #fff;}
.righttopbtn1ulli{ height: 25px; display: block; width:110px; font-size: 12px; text-align:center; line-height: 25px;}
.righttopbtn1ulli:hover{background-color:#cde3f3;}
.Rtopbtnpan1{width: 14px; height: 14px;display: block; background-image:url("../Images/weigou.png"); border-radius:3px; float: left;}
.Rtopbtnpan2{width: 7px; height: 7px;display: block; background-image:url("../Images/1.png"); background-position: 0 -254px; float:right;margin-right:10px; margin-top:3px;}
.righttopbtn2{ width:54px; height:26px;border-radius:3px; background-image:url("../Images/btnback.png");border: 1px solid #999; cursor: pointer; float: left; font-size: 12px; color: #555; line-height: 25px; text-align: center; margin-right: 5px;}
.righttopbtn3{width:207px; height:26px;background-image:url("../Images/btnback.png");cursor: pointer; float:left; margin-right: 5px; font-size: 12px; color: #555; line-height:15px;}
.btn3p{ width:62px; height:20px; float: left; padding-left: 10px; padding-top: 5px;}
.btn3p1{position: relative; border-left: 1px solid #999;border-top: 1px solid #999;border-bottom: 1px solid #999;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
.btn3p1ul{display:none; padding-top: 10px; width:158px; height:302px; border: 1px solid #ccc; border-radius: 3px; position: absolute;top: 26px; left: -2px; background-color: #fff;}
.btn3p1ulli{padding-left: 30px;  height: 25px; display: block; width:128px; font-size: 12px; text-align:left; line-height: 25px;}
.notread{ padding-left:5px; width: 153px;}
.btn3p1ulli:hover{background-color:#cde3f3;}
.weidupic{width: 14px; height: 10px;background-image:url("../Images/weidu.png"); background-color: red; display: block; float: left; margin-top:7px; margin-right: 10px;}
.btn3p2{border:1px solid #999;background-image:url("../Images/btnback.png");}
.btn3p3{width:47px; border-right: 1px solid #999;border-top: 1px solid #999;border-bottom: 1px solid #999;border-top-right-radius: 3px;border-bottom-right-radius: 3px;}
.mainbodyRtopR{ width:210px; height: 27px; float:right;}
.mainbodyRtopRp1{width:25px; height:25px;display: block; cursor: pointer; float: left; border: 1px solid #fff;border-radius: 2px;}
.mainbodyRtopRp1:hover{ border-color:  #989898;}
.mainbodyRtopRp1In{width: 15px; height:15px; background-image: url("../Images/2.png"); display: block; cursor: pointer; margin: 5px;}
.mainbodyRtopRp2{font-size: 11px; color:#555;padding-left: 5px; padding-top: 3px; width:48px; height:23px; border:1px solid #fff;border-radius:3px; cursor: pointer; float:left; display: block; margin-left: 10px;}
.mainbodyRtopRp2:hover{ border-color: #989898;}
.mainbodyRtopRp3{width: 74px;height: 26px; display: block; float: left;}
.mainbodyRtopRp3In1{width: 35px;height: 26px; border: 1px solid #D8D8D8; display: block; float:left; border-bottom-left-radius:100%; border-top-left-radius:100%; background-color: #f0f0f0;}
.mainbodyRtopRp3In2{width: 35px;height: 26px;border: 1px solid #D8D8D8; border-left: none; display: block; float: left; border-bottom-right-radius:100%; border-top-right-radius:100%; background-color: #f0f0f0;}
.zuojian{ width:13px; height: 12px; background-image: url("../Images/leftjian.png"); margin-top:7px; margin-left:9px;}
.youjian{ width:13px; height: 12px; background-image: url("../Images/rightjian.png"); margin-top: 7px; margin-left:7px;}
.mainbodyRtopRp4{width:27px;height:27px; display: block; float: left; border: 1px solid #D8D8D8; margin-left: 10px; border-radius: 100%; background-color: #f9f9f9; cursor: pointer; }
.mainbodyRtopRp4In{width:15px;height:15px;background-image: url("../Images/set.png"); display: block; background-size: 100% 100%; margin: 6px;}
.mainbodyRtopRp4In:hover{transform:rotate(360deg); transition:all 1s;}
/*.topbtnhover:hover{}*/
.todaymail{width:1125px; height: auto; border-bottom: 1px solid #c3ced5;}
.mailLi{width:1115px; height:37px; border-bottom: 1px solid #cecece; display: block; padding-left: 10px;cursor: pointer;}
.gengduo{ font-size: 12px; line-height: 20px;padding-top: 10px; display:inline-block; color: #444; padding-left: 10px;}
.morenumber{ font-size: 12px; display: inline-block; color: #ccc;}

.mailLispan{width: 14px; height: 14px;display: block; background-image:url("../Images/weigou.png"); border-radius:3px; float: left; margin-top: 10px; float: left;}
.mailfrom{ width: 150px;height: 37px; margin-left:60px; font-size: 14px; color:#444; line-height: 37px; text-align: left;float: left; }
.mailtitle{width:400px;height:37px;color:#444;float: left; font-size: 14px; color:#444; line-height: 37px; text-align: left;}
.mailtime{width:100px;height:37px; font-size: 12px;color: #ccc; float: right;line-height: 37px; text-align: right;}
.mailflag{ width:15px; height: 15px;background-image: url("../Images/whiteflag.png"); background-size: 100% 100%;float: left; margin-top:10px; margin-right: 20px; cursor: pointer;}
.mailweidupic{width: 14px; height: 10px;display: block; float: left; margin-top:12px; margin-left: 10px; }
.mailhongqi{padding-left:5px; width: 153px;display: block;}
.hongqi1{ margin-right: 13px;}
